<h2>Ingresar</h2>
<mat-form-field appearance="fill" (ngSubmit)="onLogin" novalidate>
    <mat-label>Usuario</mat-label>
    <input matInput id="usuario" [(ngModel)]="usuario" required="">
</mat-form-field>
    <br>
<mat-form-field appearance="fill" (ngSubmit)="onLogin" novalidate>
    <mat-label>Contraseña</mat-label>
    <input matInput id="contrasena" [type]="hide ? 'password' : 'text'" [(ngModel)]="contrasena" required="">
</mat-form-field>
<br>
<button mat-raised-button (click)="onLogin()" color="primary">Ingresar</button>