<h1>Proyectos</h1>
<button mat-mini-fab *ngIf="isLogged"><mat-icon>add</mat-icon></button>
<p *ngIf="!proyectos?.length">¡Ningun proyecto!</p>
<div *ngFor="let proyecto of proyectos">
<mat-card>
    <mat-card-title-group>
        <mat-card-title>{{proyecto.proyecto}}</mat-card-title>
        <mat-card-subtitle>{{proyecto.anoCreacion}}</mat-card-subtitle>
        <img mat-card-md-image src={{proyecto.fotoProyecto}}>
    </mat-card-title-group>
    <mat-card-content>
        {{proyecto.descripcion}}
    </mat-card-content>
</mat-card>
<br>
</div>