<div class="container">
    <h1>Proyectos</h1>
    <button mat-mini-fab *ngIf="isLogged" (click)="agregarProyecto()"><mat-icon>add</mat-icon></button>
</div>
<p *ngIf="!proyectos?.length">¡Ningun proyecto!</p>
<div *ngFor="let proyecto of proyectos">
<mat-card>
    <mat-card-title-group>
        <mat-card-title>{{proyecto.proyecto}}</mat-card-title>
        <mat-card-subtitle>{{proyecto.anoCreacion}}</mat-card-subtitle>
        <img mat-card-md-image src={{proyecto.fotoProyecto}}>
    </mat-card-title-group>
    <mat-card-content>
        {{proyecto.descripcion}}
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button *ngIf="isLogged" (click)="editarProyecto(proyecto.id)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button *ngIf="isLogged" (click)="borrarProyecto(proyecto.id)"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
</mat-card>
<br>
</div>