<h2>Agregar educacion</h2>
<mat-form-field>
    <mat-label>Institucion</mat-label>
    <input matInput type="text" class="form-control" id="institucion" [(ngModel)]="institucion" required="">
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Logo de la institucion</mat-label>
    <input matInput type="text" class="form-control" id="logoInstitucion" [(ngModel)]="logoInstitucion">
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Titulo</mat-label>
    <input matInput type="text" class="form-control" id="titulo" [(ngModel)]="titulo" required="">
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Año de ingreso</mat-label>
    <input matInput type="text" class="form-control" id="anoIngreso" [(ngModel)]="anoIngreso" required="">
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Año de egreso</mat-label>
    <input matInput type="text" class="form-control" id="anoEgreso" [(ngModel)]="anoEgreso">
</mat-form-field>
<br>
<button mat-raised-button color="primary">Añadir</button>