<mat-card>
    <mat-card-title>Educacion</mat-card-title>
    <br>
    <mat-card-title-group>
    <mat-card-subtitle>Bioquimico</mat-card-subtitle>
    <img mat-card-md-image src="https://www.mdp.edu.ar/templates/unmdp/img/logoUNMDP.svg" >
    </mat-card-title-group>
    <mat-card-content>
        Universidad Nacional de Mar del Plata.
        <br>
        Facultad de Ciencias Exactas y Naturales.
        <br>
        Ingreso: 2016
    </mat-card-content>
    <mat-card-title-group>
    <mat-card-subtitle>Ingeniero en Informatica</mat-card-subtitle>
    <img mat-card-md-image src="https://www.mdp.edu.ar/templates/unmdp/img/logoUNMDP.svg" >
    </mat-card-title-group>
    <mat-card-content>
        Universidad Nacional de Mar del Plata.
        <br>
        Facultad de Ingenieria.
        <br>
        Ingreso: 2021
    </mat-card-content>
</mat-card>