<h1>Educacion</h1>
<mat-card>
    <mat-card-title-group>
        <mat-card-title>Bioquimico</mat-card-title>
        <mat-card-subtitle>Universidad Nacional de Mar del Plata</mat-card-subtitle>
        <img mat-card-md-image src="https://www.mdp.edu.ar/templates/unmdp/img/logoUNMDP.svg">
    </mat-card-title-group>
    <mat-card-content>
        Ingreso: 2016
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-title-group>
        <mat-card-title>Ingeniero en Informatica</mat-card-title>
        <mat-card-subtitle>Universidad Nacional de Mar del Plata</mat-card-subtitle>
        <img mat-card-md-image src="https://www.mdp.edu.ar/templates/unmdp/img/logoUNMDP.svg">
    </mat-card-title-group>
    <mat-card-content>
        Ingreso: 2021
    </mat-card-content>
</mat-card>