<h1>Habilidades</h1>
<button mat-mini-fab *ngIf="isLogged"><mat-icon>add</mat-icon></button>
<mat-card>
    <mat-card-title>Idiomas</mat-card-title>
    <mat-card-content>
        <div class="caja">
            <ng-container  *ngFor="let idioma of habilidades">
                <div *ngIf="idioma.ioL">
                    <p align = "center">{{idioma.habilidad}}</p>
                    <mat-progress-spinner mode="determinate" value="{{idioma.porcentaje}}"></mat-progress-spinner>
                </div>
            </ng-container>
        </div>     
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Lenguajes</mat-card-title>
    <mat-card-content>
        <div class="caja">
            <ng-container  *ngFor="let lenguaje of habilidades">
                <div *ngIf="!lenguaje.ioL">
                    <p align = "center">{{lenguaje.habilidad}}</p>
                    <mat-progress-spinner mode="determinate" value="{{lenguaje.porcentaje}}"></mat-progress-spinner>
                </div>
            </ng-container>
        </div>     
    </mat-card-content>
</mat-card>