.caja {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
.container {
    display: flex;
  }
h1{
    display: inline-block;
    flex: 1;
}

mat-mini-fab{
    display: inline-block;
}