<h1>Habilidades</h1>
<mat-card>
    <mat-card-title>Idiomas</mat-card-title>
    <mat-card-content>
        <div class="caja">
            <div>
                <p align = "center">Inglés</p>
                <mat-progress-spinner mode="determinate" value="60"></mat-progress-spinner>
            </div>
            <div>
                <p align = "center">Alemán</p>
                <mat-progress-spinner mode="determinate" value="10"></mat-progress-spinner>
            </div>
          </div>     
    </mat-card-content>
</mat-card>