<div class="container">
    <h1>Habilidades</h1>
    <button mat-mini-fab matTooltip="Agregar otra habilidad" *ngIf="isLogged" (click)="agregarHabilidad()"><mat-icon>add</mat-icon></button>
</div>
<mat-card>
    <mat-card-title>Idiomas</mat-card-title>
    <mat-card-content>
        <div class="caja">
            <ng-container  *ngFor="let idioma of habilidades">
                <div *ngIf="idioma.ioL">
                    <p align = "center">{{idioma.habilidad}}</p>
                    <button mat-icon-button matTooltip="Editar esta habilidad" *ngIf="isLogged" (click)="editarHabilidad(idioma.id)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button matTooltip="Eleminar esta habilidad" *ngIf="isLogged" (click)="borrarHabilidad(idioma.id)"><mat-icon>delete</mat-icon></button>
                    <mat-progress-spinner mode="determinate" value="{{idioma.porcentaje}}"></mat-progress-spinner>
                </div>
            </ng-container>
        </div>     
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Lenguajes</mat-card-title>
    <mat-card-content>
        <div class="caja">
            <ng-container  *ngFor="let lenguaje of habilidades">
                <div *ngIf="!lenguaje.ioL">
                    <p align = "center">{{lenguaje.habilidad}}</p>
                    <button mat-icon-button matTooltip="Editar esta habilidad" *ngIf="isLogged" (click)="editarHabilidad(lenguaje.id)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button matTooltip="Eleminar esta habilidad" *ngIf="isLogged" (click)="borrarHabilidad(lenguaje.id)"><mat-icon>delete</mat-icon></button>
                    <mat-progress-spinner mode="determinate" value="{{lenguaje.porcentaje}}"></mat-progress-spinner>
                </div>
            </ng-container>
        </div>     
    </mat-card-content>
</mat-card>