<h2>Agregar habilidad</h2>
<mat-form-field>
    <mat-label>Habilidad</mat-label>
    <input matInput type="text" class="form-control" id="habilidad" [(ngModel)]="habilidad" required="">
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Porcentaje</mat-label>
    <input matInput type="text" class="form-control" id="porcentaje" [(ngModel)]="porcentaje" required="">
</mat-form-field>
<br>
<mat-slide-toggle id="ioL" [(ngModel)]="ioL">{{ioL === true ?  'Idioma' : 'Lenguaje'}}</mat-slide-toggle>
<br>
<button mat-raised-button color="primary">Añadir</button>
